.dancer-name {
    margin-top: 1.2rem;
    margin-bottom: 1.09333rem;
}


.row {
    width: 90%;
    margin-bottom: 0.6rem;
}

.btn-small {
    margin-top: 0.6rem;
    margin-bottom: 1.09333rem; 
}

.card {
    margin-top: 0.6rem;
}